<template name="professorCadastro">
    <div id="vue-professor-cadastro">
        <div class="col-md-6 col-md-offset-4" >
            <h1>Novo Professor</h1>

            <form v-on:submit.prevent="salvar">
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.nome }">
                    <label for="nome">Nome</label>
                    <input type="text" v-model="form.nome" class="form-control" id="nome" autofocus>
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.matricula }">
                    <label for="matricula">Matricula</label>
                    <input type="text" v-model="form.matricula" class="form-control" id="matricula">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.cpf }">
                    <label for="cpf">CPF</label>
                    <input type="text" v-model="form.cpf" class="form-control" id="cpf">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.telefone }">
                    <label for="telefone">Telefone</label>
                    <input type="text" v-model="form.telefone" class="form-control" id="telefone">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.email }">
                    <label for="email">Email</label>
                    <input type="text" v-model="form.email" class="form-control" id="email">
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group" v-bind:class="{ 'has-error' : !validation.endereco }">
                            <label for="endereco">Endereço</label>
                            <input type="text" v-model="form.endereco" id="endereco" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" v-bind:class="{ 'has-error' : !validation.numero }">
                            <label for="numero">Número</label>
                            <input type="text" v-model="form.numero" id="numero" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.carreira }">
                    <label for="carreira">Carreira</label>
                    <input type="text" v-model="form.carreira" class="form-control" id="carreira">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.cargo }">
                    <label for="cargo">Cargo</label>
                    <input type="text" v-model="form.cargo" class="form-control" id="cargo">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.nivel }">
                    <label for="nivel">Nivel</label>
                    <input type="text" v-model="form.nivel" class="form-control" id="nivel">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.area_atuacao }">
                    <label for="area_atuacao">Area_atuacao</label>
                    <input type="text" v-model="form.area_atuacao" class="form-control" id="area_atuacao">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.orgao_lotacao }">
                    <label for="orgao_lotacao">Orgao_lotacao</label>
                    <input type="text" v-model="form.orgao_lotacao" class="form-control" id="orgao_lotacao">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.lotacao_trabalho }">
                    <label for="lotacao_trabalho">Lotacao_trabalho</label>
                    <input type="text" v-model="form.lotacao_trabalho" class="form-control" id="lotacao_trabalho">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.quadro }">
                    <label for="quadro">Quadro</label>
                    <input type="text" v-model="form.quadro" class="form-control" id="quadro">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.carga_semanal }">
                    <label for="carga_semanal">Carga_semanal</label>
                    <input type="text" v-model="form.carga_semanal" class="form-control" id="carga_semanal">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.formacao }">
                    <label for="formacao">Formacao</label>
                    <input type="text" v-model="form.formacao" class="form-control" id="formacao">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.rit }">
                    <label for="rit">RIT</label>
                    <input type="text" v-model="form.rit" class="form-control" id="rit">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.permuta }">
                    <label for="permuta">Permuta</label>
                    <input type="text" v-model="form.permuta" class="form-control" id="permuta">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.convenio }">
                    <label for="convenio">Convenio</label>
                    <input type="text" v-model="form.convenio" class="form-control" id="convenio">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.lat }">
                    <label for="lat">Lat</label>
                    <input type="text" v-model="form.lat" class="form-control" id="lat">
                </div>
                <div class="form-group" v-bind:class="{ 'has-error' : !validation.lng }">
                    <label for="lng">Lng</label>
                    <input type="text" v-model="form.lng" class="form-control" id="lng">
                </div>

                <button class="btn btn-success" v-bind:disabled="sending" type="submit"> <i class="fa fa-save"></i> Salvar</button>
            </form>

            <h4>Lista de Professores</h4>

        </div>

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matricula</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Numero</th>
                    <th>Carreira</th>
                    <th>Cargo</th>
                    <th>Nivel</th>
                    <th>Area_atuacao</th>
                    <th>Orgao_lotacao</th>
                    <th>Lotacao_trabalho</th>
                    <th>Quadro</th>
                    <th>Carga_semanal</th>
                    <th>Formacao</th>
                    <th>RIT</th>
                    <th>Permuta</th>
                    <th>Convenio</th>
                    <th>Lat</th>
                    <th>Lng</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="doc in professores">
                    <td>[[ doc.nome ]]</td>
                    <td>[[ doc.matricula ]]</td>
                    <td>[[ doc.cpf ]]</td>
                    <td>[[ doc.telefone ]]</td>
                    <td>[[ doc.email ]]</td>
                    <td>[[ doc.endereço ]]</td>
                    <td>[[ doc.numero ]]</td>
                    <td>[[ doc.carreira ]]</td>
                    <td>[[ doc.cargo ]]</td>
                    <td>[[ doc.nivel ]]</td>
                    <td>[[ doc.area_atuacao ]]</td>
                    <td>[[ doc.orgao_lotacao ]]</td>
                    <td>[[ doc.lotacao_trabalho ]]</td>
                    <td>[[ doc.quadro ]]</td>
                    <td>[[ doc.carga_semanal ]]</td>
                    <td>[[ doc.formacao ]]</td>
                    <td>[[ doc.rit ]]</td>
                    <td>[[ doc.permuta ]]</td>
                    <td>[[ doc.convenio ]]</td>
                    <td>[[ doc.lat ]]</td>
                    <td>[[ doc.lng ]]</td>
                    <td> <button v-on:click="editar(doc)" class="btn btn-info"><i class="fa fa-edit"></i></button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
