<template name="system">
    <div class="container">
        <h1 class="text-center">AlunuZ</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Área Professores</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li> <a href="{{ pathFor route='professor.cadastro'}}">Cadastro</a> </li>
                            <li> <a href="#">Login</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Área Alunos</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li> <a href="#">Cadastro</a> </li>
                            <li> <a href="#">Login</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Área Escolas</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li> <a href="{{ pathFor route='escola.cadastro'}}">Cadastro</a> </li>
                            <li> <a href="#">Login</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
